<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Курс</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
</head>
<body>
<a href="/courses">Курсы</a>
<h1>${course.title}</h1>
<h2>
    <form action="/courses/${course.id}/update" method="post">
        <textarea name="description">${course.description}</textarea>
        <label>
            <input type="date" name="start" value="${course.start}">
        </label>
        <br>
        <label>
            <input type="date" name="finish" value="${course.finish}">
        </label>
        <input autofocus type="submit" value="Добавить"/>
        <br>

    </form>
</h2>
<h2>Студенты в курсе</h2>
<table>
    <tr>
        <th>Email</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <td>Действия</td>
    </tr>
    <#list inCourseStudents as student>
        <tr>
            <td>${student.email}</td>
            <td>${student.firstName}</td>
            <td>${student.lastName}</td>
            <td>
                <a href="/users/${student.id}">Перейти</a>
            </td>
        </tr>
    </#list>
</table>
<form action="/courses/${course.id}/students" method="post">
    <label>Студенты
        <select name="student-id">
            <#list notInCourseStudents as student>
                <option value="${student.id}">${student.firstName} ${student.lastName}</option>
            </#list>
        </select>
    </label>
    <input type="submit" value="Добавить">
</form>

<h2>Уроки в курсе</h2>
<table>
    <tr>
        <th>Название урока</th>
        <th>Описание</th>
        <th>Начало</th>
        <th>Конец</th>
        <td>Действия</td>
    </tr>
    <#list inCourseLessons as lesson>
        <tr>
            <td>${lesson.name}</td>
            <td>${lesson.summary}</td>
            <td>${lesson.startTime}</td>
            <td>${lesson.finishTime}</td>
            <td>
                <a href="/lessons/${lesson.id}">Перейти</a>
            </td>
        </tr>
    </#list>
</table>
<form action="/courses/${course.id}/lessons" method="post">
    <label>Уроки
        <select name="lesson-id">
            <#list notInCourseLessons as lesson>
                <option value="${lesson.id}">${lesson.name}</option>
            </#list>
        </select>
    </label>
    <input type="submit" value="Добавить">
</form>

</body>
</html>

