<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Уроки</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
</head>
<body>
<a href="/courses">Курсы</a>
<a href="/users">Cтуденты</a>
<h2>Уроки</h2>
<table>
    <tr>
        <th>Урок</th>
        <th>Начало урока</th>
        <th>Окончание урока</th>
    </tr>
    <#list lessons as lesson>
        <tr>
            <td>${lesson.name}</td>
            <td>${lesson.startTime}</td>
            <td>${lesson.finishTime}</td>
            <td>
                <a href="/lessons/${lesson.id}">Перейти</a>
                <a href="/lessons/${lesson.id}/delete">Удалить</a>
            </td>
        </tr>
    </#list>
</table>
<form action="/lessons" method="post">
    <h3>Добавление</h3>
    <label>
        Название нового урока
        <input type="text" name="name" placeholder="Введите новый урок">
    </label>
    <br>
    <label>
        Начало
        <input type="time" name="startTime" placeholder="Введите время начала" value="00:00">
    </label>
    <br>
    <label>
        Конец
        <input type="time" name="finishTime" placeholder="Введите время окончания" value="00:00">
    </label>
    <label>
        Краткое описание
        <input type="text" name="summary" value="Введите описание">
    </label>
    <br>
    <input autofocus type="submit" value="Добавить"/>
</form>

</body>
</html>
