<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Книги</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
</head>
<body>
<#include "./header/navigation.ftlh">

<h2>Книги</h2>
<table>
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Действие</th>

    </tr>
    <#list books as book>
        <tr>
            <td>${book.author}</td>
            <td>${book.summary}</td>
            <td>
                <a href="/books/${book.id}">Перейти</a>
                <a href="/books/${book.id}/delete">Удалить</a>
            </td>
        </tr>
    </#list>
</table>
<form action="/books" method="post">
    <h3>Добавление</h3>
    <label>
        Название новой книги
        <input type="text" name="author" placeholder="Введите название">
    </label>
    <br>
    <label>
        Краткое описание
        <input type="text" name="summary" placeholder="Введите описание">
    </label>
    <br>
    <input autofocus type="submit" value="Добавить"/>
</form>
</body>
</html>




