<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Книга</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
</head>
<body>
<#include "./header/navigation.ftlh">
<h1>Описание книги</h1>
<h2>${book.author}</h2>
<form action="/books/${book.id}/update" method="post">
    <label>
        Название книги
        <input type="text" name="author" value=${book.author}>
    </label>
    <br>
    <label>
        Содержание
        <input type="text" name="summary" value=${book.summary}>
    </label>
    <br>
</form>
</body>
</html>





